.AdminContainer{
    width:100%;
    height:200vh;
    background-image: url("../../images/wave-haikei\ \(1\).svg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.adminNavLink{
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px,
}